---
import type { Post } from "../lib/types";

interface Props {
    post: Post
}

const {post} = Astro.props

---

<article>

    <h3>{post.title?.rendered}</h3>

    <div>{post.date}</div>

    <div>#{post.categories}</div>

    <div set:html={post.excerpt?.rendered}></div>

    <a href={post.slug}>Read More</a>

</article>